p{
    font-size: 45PX;
    color: rgb(10, 207, 181);
    text-aling: center;
}
h1{
    color: rgba(38, 235, 225, 0.753);
    text: center;
    font-size: 80px;
}

body{
    background-image: url("boku\ no\ hero\ fundo.jpg"); 
  

}